@charset "utf-8";

/* 초기화 */
html,
body,
div,
header,
section,
footer,
figure,
figcaption,
fieldset,
legend,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
p,
img {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* 기본스타일 */
@font-face {
    font-family: "NotoSansL";
    src: url("../font/NotoSansKR-Light.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansR";
    src: url("../font/NotoSansKR-Regular.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansM";
    src: url("../font/NotoSansKR-Medium.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansBl";
    src: url("../font/NotoSansKR-Black.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansBo";
    src: url("../font/NotoSansKR-Bold.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansTh";
    src: url("../font/NotoSansKR-Thin.otf")format("truetype");
}

@font-face {
    font-family: "malssami";
    src: url("../font/malssami815.ttf")format("truetype");
}

a:link {
    color: #222629;
    text-decoration: none;
}


a:visited {
    color: #222629;
    text-decoration: none;
}

.a_community:hover,
.a_community:focus {
    color: #036c44;
    text-decoration: none;
}

.a_shopping:hover,
.a_shopping:focus {
    color: rgba(204, 14, 14, 0.79);
    text-decoration: none;
}

.a_btn_write:hover,
.a_btn_write:focus {
    color: #222629;
}



body {
    font-family: "NotoSansL";
    background-color: #f9f9f9;
    color: #222629;
    font-size: 0.75em;
    line-height: 1.2;
}

fieldset {
    border: 0;
    height: 100%;
}

/* 건너뛰기 링크 */
#skipNav {
    position: absolute;
    left: -9999px;
}

#skipNav:focus {
    left: 0;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    z-index: 10;
}

/* 전체적인 레이아웃 설계 */
header,
#main_content,
.f_container {
    width: 100%;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    height: auto;
    box-sizing: border-box;
    margin-top: 30px;
}

section {
    margin: 80px 0;
}

h1 {
    height: 80px;
    line-height: 80px;
    font-family: "NotoSansR";
}

input {
    outline: 0;
}

textarea {
    font-family: "NotoSansL";
    resize: none;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    font-family: "NotoSansR";
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
}

/* rsb= rows pace between */
.flex_area_rsb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* 광고배너 영역 */
.adbanner {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    background-color: #036c44;
    padding: 20px 0 20px 0;
    margin-bottom: 30px;
}

.banner_btn {
    color: #fff;
    background-color: #036c44;
    position: absolute;
    right: 10px;
    top: 11px;
}

/*광고 배너 x 버튼 크기*/


.adbanner>p>a {
    color: #fff;
}

/* header 레이아웃 */
.header_top {
    min-width: 1100px;
    height: 50px;
}

.header_bottom {
    height: 40px;
    line-height: 40px;
}

/* 메인메뉴*/
.mainmenu {
    font-size: 1.6em;
    font-weight: bold;
    font-family: "NotoSansR";

}

li.main {
    background: url("../image/recipemall-logo-commu.svg") no-repeat;
    background-size: 105%;
    background-position: -19px -19px;
    cursor: pointer;
    flex-basis: 50%;
}

.mainmenu>li {
    text-align: center;
    display: inline;
    width: 100px;
    padding: 0 10px 0 0;
    line-height: 50px;
}

/* 검색 영역 */
.search_form {
    display: inline-block;
    width: 380px;
}

.search_area {
    width: 78%;
    height: 100%;
    line-height: 60px;
    margin: 10px auto;
    justify-content: flex-start;

}

.select_searchbox select {
    width: 20%;
    border: 1px solid #036c44;
    border-radius: 4px;
    font-family: "NotoSansM";
    color: #222629;


}

.search_area input {
    width: 400px;
    outline: 0;
    height: 60%;
    border: 1px solid #036c44;
    border-radius: 4px 0 0 4px;
}

.btn_search {
    border-radius: 0 4px 4px 0;
    width: 30px;
    height: 60%;
    text-align: center;
    line-height: 30px;
    background-color: #036c44;
    padding: 0 5px;

}

.btn_search i {
    font-size: 1.2em;
    color: #fffdf7;
    padding: 0 5px;

}



/* 서브메뉴*/
.submenu {
    display: flex;
    justify-content: end;
    font-size: 1.2em;
    font-family: "NotoSansR";
}

.submenu>li {
    width: auto;
    line-height: 50px;
    margin-left: 20px;
}

.fa-cart-shopping,
.fa-cart-plus {
    font-weight: 800;
    font-size: 25px;
}

.btn_write {
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #036c44;
    border-radius: 5px;
    border: 1px solid #036c44;
    color: #fff;
    text-align: center;

}

.btn_write i {
    font-size: 15px;
    margin-left: 4px;
}



/* 글쓰기 하위메뉴 영역 */
.btn_write_sub {
    position: absolute;
    transform: translate(850px, 50px);
    inset: 0px auto auto 0px;
    z-index: 1;
    background-color: #f9f9f9;
    border: 1px solid #4d5250;
    border-radius: 4px;
    box-shadow: 0 0 10px #ccc;
}

.btn_write_sub a {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.btn_write_sub a:hover {
    background-color: #f1f1f1;
}

.btn_write_icon {
    font-size: 2em;
    margin-right: 15px;
}

.btn_write_t {
    font-family: "NotoSansBo";
    font-size: 1.3em;
}

.btn_write_c {
    font-family: "NotoSansR";
    font-size: 1em;
}

.textline {
    margin-top: 10px;
    border: 0.1px solid rgb(221, 221, 221);
    text-decoration: overline;
}

/* 카테고리 영역 */
.category>li {
    display: inline-block;
    font-size: 1.3em;
    margin: 10px 10px 10px 0px;
    font-family: "NotoSansM";
    line-height: 100%;
}

/*레시피 채워야함*/
.rank {
    display: inline-block;
    font-size: 1.1em;
    font-family: "NotoSansM";
}

.textline.cf {
    margin-top: 0;
}






/* footer  영역 */
footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #eef3f1;
    height: 420px;
    font-family: "NotoSansL";
    font-style: normal;
    color: #4d5250;
}

.f_container {
    padding: 40px 50px;
}

/*footer left  영역 & 안내 영역   */
.information {
    width: 250px;
    margin: 0 0 0 10px;
    position: relative;
}

.infor {
    font-size: 1.7em;
}

.information span {
    position: absolute;
    display: inline-block;
    width: 100px;
    left: 110px;
    top: 81px;
}

.inquiry {
    width: 300px;
    margin: 15px 0 15px 0;
}

.kakao {
    display: inline-block;
    width: 160px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.emailbtn {
    margin: 10px 0 0 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #036c44;
}


/* footer middle 영역 */
.f_middle {
    display: flex;
    font-size: 1.1em;

}

.f_middle>ul>li {
    margin: 0 0 30px 20px;
}


/* footer right 영역 */
.company_ez {
    position: relative;
    font-size: 1.1em;
}

.f_right>div {
    margin-bottom: 20px;
}

address {
    font-style: normal;
}

.save {
    justify-content: flex-start;
}

.save1 {
    width: 40%;
}

.save2 {
    font-size: 0.7em;
}

/*푸터 아이콘 크기*/
footer .fa-brands {
    font-size: 30px;
    padding: 0 10px 0 0;
}

footer .fa-solid {
    font-size: 30px;
    padding: 0 10px 0 0;
}