@charset "utf-8";
/* 초기화 */
 html, body, div, header, section, footer, figure, figcaption,fieldset,
legend, ul, ol, li, dl, dt, dd, h1, h2, h3, p, img{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
/* 기본스타일 */
@font-face {
    font-family: "NotoSansL";
    src: url("../font/NotoSansKR-Light.otf")format("truetype");
}
@font-face {
    font-family: "NotoSansR";
    src: url("../font/NotoSansKR-Regular.otf")format("truetype");
}
@font-face {
    font-family: "NotoSansM";
    src: url("../font/NotoSansKR-Medium.otf")format("truetype");
}
@font-face {
    font-family: "NotoSansBl";
    src: url("../font/NotoSansKR-Black.otf")format("truetype");
}
@font-face {
    font-family: "NotoSansBo";
    src: url("../font/NotoSansKR-Bold.otf")format("truetype");
}
@font-face {
    font-family: "NotoSansTh";
    src: url("../font/NotoSansKR-Thin.otf")format("truetype");
}
a:link{
    color: #222629;
    text-decoration: none;
 }
 a:visited{
    color: #8a8e91;
    text-decoration: none;
 }
 a:hover, a:focus{
    color: #036c44;
    text-decoration: none;
 }
 body{
    font-family: "NotoSansL";
    background-color: #f9f9f9;
    color: #222629;
    /* font-size: 0.75em; */
    line-height: 1.2;
 }
 /* 건너뛰기 링크 */
 #skipNav{
    position: absolute;
    left: -9999px;
 }
 #skipNav:focus{
    left: 0;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    z-index: 10;
 }
 /* 전체적인 레이아웃 설계 */
header,
#main_content,
.f_container {
    width: 100%;
    max-width: 1200px;
    min-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    height: auto;
    box-sizing: border-box;
    font-size: 0.75em;
}

section {
    margin: 80px 0;
}

h1 {
    height: 80px;
    line-height: 40px;
    font-family: "NotoSansR";
}

/* rsb= rows pace between */
.flex_area_rsb{
display: flex;
flex-direction: row;
justify-content: space-between; 
}

/* 광고배너 영역 */
.adbanner {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    background-color: #036c44;
    padding: 20px 0 20px 0;
    margin-bottom: 30px;
}

.adbanner>p>a {
    color: #fff;
}

/* 메인메뉴*/
.mainmenu {
    float: left;
    clear: both;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "NotoSansR";

}

.mainmenu>li {
    display: inline;
    width: 100px;
    padding: 0 10px 0 0;
    line-height: 50px;
}

/* 서브메뉴*/
.submenu {
    display: flex;
    justify-content: end;
    font-weight: bolder;
    font-size: 1.6em;
    font-family: "NotoSansR";
}

.submenu>li {
    width: auto;
    line-height: 50px;
    margin-left: 20px;
}

.btn_write {
    padding: 5px 10px 5px 10px;
    background-color: #036c44;
    border-radius: 5px;
    border: 1px solid #036c44;
    color: #fff;
}

.formtag {
    position: relative;
}

.search {
    position: absolute;
    padding: 5px;
    top: -40px;
    left: 470px
}

.textline {
    margin-top: 10px;
    border: 0.1px solid rgb(221, 221, 221);
    text-decoration: overline;
}

.category {
    float: left;
    clear: both;
}

.category>li {
    display: inline-block;
    font-size: 1.3em;
    margin: 10px 10px 10px 0px;
    font-family: "NotoSansM";
}

/*레시피 채워야함*/
.rank {
    text-align: right;
    margin: 10px 0 10px 0;
    font-size: 1.1em;
    font-family: "NotoSansM";
}
/* footer  영역 */
footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #eef3f1;
    height: 350px;
    font-family: "NotoSansL";
    font-style: normal;
    color: #4d5250;
}
.f_container{
    padding: 40px 50px;
}
/*footer left  영역 & 안내 영역   */
.information {
    width: 250px;
    margin: 0 0 0 10px;
    position: relative;
}

.infor {
    font-size: 1.7em;
}

.information span {
    position: absolute;
    display: inline-block;
    width: 100px;
    left: 110px;
    top: 81px;
}

.inquiry {
    width: 300px;
    margin: 15px 0 15px 0;
}

.kakao {
    display: inline-block;
    width: 160px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.emailbtn {
    margin: 10px 0 0 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #036c44;
}


/* footer middle 영역 */
.f_middle {
    display: flex;
    font-size: 1.1em;

}
.f_middle > ul >li{
    margin: 0 0 30px 20px;
}


/* footer right 영역 */
.company_ez {
    position: relative;
    font-size: 1.1em;
}

.f_right > div{
margin-bottom: 20px;
}
address{
    font-style:normal ;
}