/* main_content  영역 */
.btn_more{
    position: absolute;
    right: 50px;
    font-size: 1.3em;
}
.btn_more a {
    color: #036c44;
    font-family: "NotoSansM";
}
.btn_more a:hover {
    color: #8bb0a3;
    
}
.css_g_color{
    color: #036c44;
}
.s_title{
    font-family: "NotoSansM";
    font-size: 1.8em;
}

/* 로고영역 */
.logo_img{
    height: 50px;
    /* width: 100px; */
}

/* 이미지 슬라이더 영역 */
.main_imageslider{
    height: 350px;
    position: relative;
    margin: 40px 0;
    /* overflow: hidden; */
}
.img_slide{
    position: relative;
    
 }
 /* .img_slide > a >img{
     position: absolute;
     float: left;
 } */
    /* 버튼영역 */
    .control_panel{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100000;
        background: rgba(73, 184, 97, 0.5);
        padding: 8px 30px;
        border-radius: 20px;
        
    }
    .control_panel .on{
        background: #036c44;
    }
    .control_panel .control_btn{
        float: left;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin: 0 8px;
        cursor: pointer;
        
        
    }
    .control_panel .stop{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 28px ;
        height: 28px ;
        border: none;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
    .control_panel .stop i {
        color: #fff;
        font-size: 1.6em;
        margin: 5px 5px 5px 9px;

    }
/* 레시피 바로가기 영역 */
.direct_recipe{
    height: 200px;
    position: relative;
}
.direct_menu_area{
    position: relative;
}
.direct_menu{
    height: 150px;
    position: relative;
}
.direct_menu img{
    width: 150px;
    height: 150px;
    padding: 10px;
}
.direct_menu p{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    font-family: "malssami";
    
    font-size: 1.6em;
}
.direct_menu p:hover{
   color: #036c44;
}



/* 오늘의 레시피 영역 */
.today_recipe{
    
}
.recipe_content_area{
    margin-top: 30px;

}
.recipe_content{
    box-sizing: border-box;
    width: 350px;
    height: 220px;
    padding: 0 30px;
}
.r_img_area{
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    border: 1px solid #000;
}
.r_title{
    font-family: "NotoSansR";
    font-size: 1.3em;
    text-align: center;
    padding: 15px 0;

}
.r_title_c{
    font-family: "NotoSansM";
    color: #036c44;
}
/* 자유게시판+광고 영역 */
.board_advertise{
    height: 250px;
    padding: 50px 0;
    
}
.btn_more.cf{
    right: 5px;
}
.board{
    width: 45%;
    position: relative;
}
.board .s_title{
    height: 40px;
    line-height: 40px ;
}
.board_content_area{
    margin-top: 40px;
}
.board_content{
    margin: 10px 0;
}
.board_content a, .board_content time{
    font-size: 1.2em;
    font-family: "NotoSansR";
    color: #7a7a7a;
}
.board time{
    float: right;
}

.advertise{
    width: 50%;
    
    border: 1px solid #000;
    overflow: hidden;
}
/* 인기레시피 영역 */
.ranking{
    
}
.rank_recipe_content{
    width: 200px;
    height: 230px;
    border: 1px solid #000;
}
.ranking h1{
    text-align: center;
}
/* 베스트상품 영역 */
.best_product{

}
.btn_product_category_area{
    
}
.btn_product_category_area button{
    border-radius: 20px;
    border: none;
    font-family: "NotoSansR";
    margin-left: 7px;
}
.btn_clk{
    background-color : #036c44;
    color : #fff;
}
.best_product_content{
    /* display: none; */
    width: 315px;
    height: 280px;
    margin-top: 40px;
    text-align: center;
}
.best_product_content_img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #000;
}
.best_product_content_txt{
    margin: 30px 0;
    line-height: 1.6;
    font-size: 0.8em;
}