.mypage_blocklist_area{
    box-sizing: border-box;
    width: 76%;
    margin: 0 30px;
    float: right;
    font-size: 1.2em;
}
.block_table{
    width: 100%;
    text-align: center;
}
tbody{
    font-size: 0.8125em;
}
.block_setting, .btn_blockoff{
    float: right;
}
.btn_blockoff{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 10px;
    cursor: pointer;
}
