@charset "utf-8";
/* 글 관리 페이지{s} */
.post {
    width: 95%;
    box-sizing: border-box;
    margin: 15px auto;
}
/* 글 종류,개수,작성 순서 선택 */
.post_select {
    width: 100%;
    overflow: hidden;
    margin-bottom: 55px;
}
.post_s>li {
    float: left;
    height: 41px;
    overflow: hidden;
}
.post_class {
    margin-right: 340px;
}
.post_class li {
    float: left;
    padding: 8px 15px;
    border: 1px solid #bbb;
}
.post_class li:hover, .post_clicked {
    background-color: #ddd;
}
.post_date_s {
    margin-right: 15px;
}
.post_date_s li {
    float: left;
}
.post_date_s li:first-child>a::after {
    content: " |";
}
.post_date_s li:last-child>a {
    padding-left: 5px;
}
.post_cnt {
    margin-right: 15px;
}
.post_h {
    height: 41px;
    line-height: 41px;
}
.post_view_btn {
    margin-top: 10px;
}
/* 글 목록 */
.post_list_tb {
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
    border-collapse: collapse;
}
.post_list_tb th {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 5px 0 6px;
}
.post_list_tb td {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 3px 0;
    font-size: 0.9em;
}
.post_list_tb th:first-child, .post_n {
    width: 40px;
}
.post_list_tb th:nth-child(2), .post_title {
    width: 623px;
}
.post_list_tb th:nth-child(3), .post_date {
    width: 100px;
}
.post_list_tb th:last-child, .post_chk {
    width: 30px;
}
.post_list_tb td {
    text-align: center;
}
/* 글 관리 페이지{e} */

/* 댓글 관리 페이지{s} */
.comment {
    width: 95%;
    box-sizing: border-box;
    margin: 15px auto;
}
.comment_select {
    width: 100%;
    overflow: hidden;
    margin-bottom: 55px;
}
.comment_s>li {
    float: left;
    height: 41px;
    overflow: hidden;
}
.comment_class {
    margin-right: 340px;
}
.comment_class li {
    float: left;
    padding: 8px 15px;
    border: 1px solid #bbb;
}
.comment_class li:hover, .comment_clicked {
    background-color: #ddd;
}
.comment_date_s {
    margin-right: 15px;
}
.comment_date_s li {
    float: left;
}
.comment_date_s li:first-child>a::after {
    content: " |";
}
.comment_date_s li:last-child>a {
    padding-left: 5px;
}
.comment_cnt {
    margin-right: 15px;
}
.comment_h {
    height: 41px;
    line-height: 41px;
}
.comment_view_btn {
    margin-top: 10px;
}
/* 댓글 목록 */
.comment_list_tb {
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
    border-collapse: collapse;
}
.comment_list_tb th {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 5px 0 6px;
}
.comment_list_tb td {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 3px 0;
    font-size: 0.9em;
}
.comment_list_tb th:nth-child(1), .comment_n {
    width: 40px;
}
.comment_list_tb th:nth-child(2), .post_board {
    width: 80px;
}
.comment_list_tb th:nth-child(3), .cmt_ctnt {
    width: 515px;
}
.comment_list_tb th:nth-child(4), .post_going {
    width: 30px;
}
.comment_list_tb th:nth-child(5), .comment_date {
    width: 100px;
}
.comment_list_tb th:last-child, .comment_chk {
    width: 30px;
}
.comment_list_tb td {
    text-align: center;
}
/* 댓글 관리 페이지{e} */

/* 페이지 버튼 */
.paging_box {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.paging_box ul {
    display: inline-block;
    height: 30px;
}
.paging_box li {
    width: 25px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-right: 3px;
    text-align: center;
    line-height: 25px;
    float: left;
}
/* 삭제 버튼 */
.delete_btn {
    position: absolute;
    right: 152px;
}
.update_btn {
    position: absolute;
    right: 205px;
}