.mypage_content>h3 {
    padding: 35px 0 8px 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.cart_cont_all {
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 20px 0;
    width: 100%;
}
.cart_cont_list{
    width: 100%;
    margin-top: 20px;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.cart_cont_list table {
    text-align: center;
    width: 100%;
    background: #f7f7f7;
    height: auto;
    border-collapse: collapse;
}
.cart_cont_list table td{
    padding: 10px 0;
}
.cart_cont_list table tr:first-child{
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.cart_cont_list table tr th:first-child{
    width: 90px;
}
#product_img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.btn_left_box {
    text-align: left;
    margin: 10px;
}
.price_sum {
    margin: 20px 0 0 0;
    padding: 20px 40px 25px 40px;
    border: 2px solid #d6d6d6;
    position: relative;
    height: 50px;
}

.price_sum_count {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}
.price_sum_count ul {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    text-align: right;
}
.btn_right_Pbox {
    margin-top: 10px;
    text-align: right;
}
.btn_right_Pbox button {
    min-width: 190px;
    height: 55px;
    padding: 0 20px 0 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-weight: bold;
}
.btn_order_whole{
    background: #2ebaf1;
    color: #fff;
}