@charset "utf-8";
.info {
    position: relative;
    width: 90%;
    margin: 35px auto;
}
.info_line {
    margin: 25px 0;
}
.info_line>p {
    display: inline-block;
    width: 80px;
    border-right: 1px solid #aaa;
}
.info_line>span {
    margin-left: 8px;
}
.address>span {
    position: absolute;
    left: 85px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.info_line>button {
    position: absolute;
    right: 10px;
    padding: 3px;
}
.info_input {
    margin-left: 8px;
    padding: 3px 3px 3px 5px;
}
.info_update {
    position: absolute;
    bottom: 240px;
    right: 500px;
    border: none;
}
/* .info_update:hover {
    background-color: #c0c0c0;
} */
.drop_out {
    position: absolute;
    right: 180px;
    bottom: 20px;
    color: #fff;
    background-color: #eb625f;
    cursor: pointer;
    border: none;
}
.btn {
    width: 120px;
    height: 40px;
}