@charset "utf-8";
.user_info {
    width: 100%;
    margin: 40px auto;
    padding-left: 130px;
}
.info_tbl {
    width: 100%;
    margin: 0 auto;
}
.info_tbl caption {
    display: none;
}
.info_tbl tr {
    width: 100%;
    height: 35px;
}
.info_tbl th {
    width: 20%;
    background-color: #e3e2e2;
    color: #777777;
    text-align: left;
    padding-left: 10px;
}
.info_tbl td {
    width: 80%;
    padding-left: 10px;
}
.user_pw p {
    display: inline-block;
    width: 177px;
}
.info_update {
    position: absolute;
    bottom: 240px;
    right: 500px;
    border: none;
}
/* .info_update:hover {
    background-color: #c0c0c0;
} */
.drop_out {
    position: absolute;
    right: 180px;
    bottom: 20px;
    color: #fff;
    background-color: #eb625f;
    cursor: pointer;
    border: none;
}
.btn {
    width: 120px;
    height: 40px;
}
.btn_n {
    margin-left: 10px;
}