/*.mypage_product_area영역 시작*/
.mypage_product_area{
    box-sizing: border-box;
    width: 76%;
    margin: 0 30px;
    float: right;
    font-size: 1.2em;
}
.mypage_product_qna{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.mypage_product_q>h4,
.mypage_product_q>h6{
    display: inline-block;
}
.mypage_product_q>h6{
    position: absolute;
    right: 0;
}
.mypage_product_qna p{
    font-size: 0.8125em;
    margin-left: 12px;
}
.btn_product{
    position: absolute;
    right: 0;
    top: 50px;
    border: 1px solid #ccc;
    padding: 5px 19px;
    cursor: pointer;
}