/*[s]상품 이름,상품 옵션 선택 영역*/
.product_area{
    width:1000px;
    height: 400px;
    margin: 30px auto;
    position: relative;
    display: flex;
}
.product{
    width: 400px;
    border-radius: 6px;
}
.product_image{
    width: 400px;
    height: 300px;
    margin: 0 50px;
}
.product_image img{
    width: 400px;
    height: 300px;
}
.product_name{
    width: 400px;
    height: 100px;
    margin-top: 20px;
    margin-left: 40px;
}
.product_name h2{
    font-size: 1.7em;
    width: 400px;
}
.product_name p:nth-of-type(1){
    color: chocolate
}
.product_name p:nth-of-type(2){
    color: brown;
    font-size: 1.5em;
    font-weight: bold;
}
.product_option{
    width: 400px;
    height: 200px;
    display: flex;
    margin-left: 40px;
}
.product_option p{
    margin-top: 10px;
}
.product_date{
    display: flex;
}
.product_date_select{
    width: 70px;
    height: 20px;
    margin-left: 70px;
    margin-top: 12px;
}
.product_count{
    display: flex;
}
.product_count input{
    width: 30px;
    height: 15px;
    margin-top: 12px;
    text-align: center;
}
.product_count_minus{
    margin-left: 70px;
    font-size: 1.2em;
    cursor: pointer;
}
.product_count_plus,.product_count input{
    margin-left: 15px;
}
.product_count_plus{
    font-size: 1.2em;
    cursor: pointer;
}
.product_regular{
    display: flex;
}
.product_regular input{
    margin-top: 12px;
    margin-left: 50px;
}
.selected{
    font-size: 0.8em;
    font-weight: 500;
}
.product_button{
    margin-left: 25px;
}
.product_button button{
    width: 120px;
    height: 40px;
    margin: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgba(204,14,14 ,0.6);
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.product_cart{
    margin-left: 15px;
}
/*[e]상품 이름,상품 옵션 선택 영역*/

/*[s]비슷한 상품 영역*/
.product_similar{
    height: 300px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px auto;
}
.product_similar h1{
    color: rgba(204,14,14 ,0.79);
    float: left;
    height: 30px;
}
.product_similar_area{
    margin-top: 20px;
    position: relative;
    display: flex;
}
.product_similar_content{
    width: 220px;
    height: 250px;
    position: relative;
    margin: 0 auto;
}
.product_similar_content img{
    width: 180px;
    height: 180px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}
.product_similar_content p{
    width: 180px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
.product_similar_name{
    font-size: 1.2em;
}
/*[e]비슷한 상품 영역*/

/*[s]상품 정보 영역*/
.product_info_title ul{
    display: flex;
    width: 600px;
    margin: 0 auto;
}
.product_info_title li {
    list-style: none;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.4em;
    cursor: pointer;
}
.product_info_title li:hover{
    background: rgba(204,14,14 ,0.79);
    border-radius: 6px;
}
.product_info{
    border: 1px solid black;
    width: 1100px;
    height: fit-content;
    margin-top: 10px;
}
/*[e]상품 정보 영역*/