/* main_content  영역 */
.btn_more{
    position: absolute;
    right: 50px;
    font-size: 1.3em;
}
.btn_more a {
    color: #036c44;
    font-family: "NotoSansM";
}
.btn_more a:hover {
    color: #8bb0a3;
    
}
section{
    margin: 40px 0;
}
.textline {
    margin-top: 10px;
    border: 0.1px solid rgb(221, 221, 221);
    text-decoration: overline;

}
.r_txt{
    font-family: "NotoSansM";
    font-size: 1.3em;
    width: 130px;
}
.btn_add{
    display: block;
    width: 200px;
    margin: 35px auto;
    
    font-family: "NotoSans";
    font-size: 1.2em;
    background-color: #036c44;
    color: #fff;
}

/* 제목 영역 */
.t_area{
    text-align: center;
    width:100%;
    clear: both;
}
.t_area i{
    color: #036c44;
    margin-left: 10px;
}
/* 레시피 내용 영역 */
    .r_content_area{
        height: auto;
        position: relative;
    }
    /* 정보 영역  */
    .chooseFile{
        border: 1px solid #000;
    }
    .r_info{
        display: grid;
        grid-template-columns: 130px 100px 100px 140px 140px 150px 10px 240px;
        grid-template-rows: 1fr 2fr 2fr 1fr;
        row-gap: 15px;
        column-gap: 10px;
    }
    .r_txt{
        grid-column: 1/2;
    }
    .r_txt.cf{
        text-align: center;
        width: 100px;
        grid-column: 3/4;
    }
    .r_info textarea{
       grid-column: 2/7;
    }
    .r_info textarea.cf{
        grid-column: 2/6;
     }
    .r_info select{
        width: 100px;
        height: 20px;
    }


    .r_in_photo{
       grid-column: 8/9;
       grid-row: 1/3;
    }
    .r_in_num,.r_in_time{
        width: 140px;
    }
    .r_info_txt{
        font-size: 1.1em;
        font-family: "NotoSansR";
        margin-left: 5px;
    }
    .r_in_num{
       grid-column: 4/5;
    }
    .r_in_time{
       grid-column: 5/6;
    }
    .r_in_lev{
       grid-column: 6/7;
    }
    
    /* 재료 영역 */
    .r_ing{
        justify-content: flex-start;
    }
    .r_ing input{
        height: 25px;
        
    }
    .ing_category{
        margin-right: 70px;
    }
    .ing_category > input{
        background-color: #daefdb;
        border: 1px solid #ccc;
        border-radius: 2px;
        font-family: "NotoSansR";
    }
    .r_ing_content{
        text-align: center;
        position: relative;
    } 
    .ing_name_amount{
        text-align: center;
        width: 500px;
    }
    .ing_name_amount input{
        width: 45%;
    }
    .ing_name_amount button{
        border: 0;
        background-color: none;
        font-family: "NotoSansM";
        font-size: 1.3em;
        letter-spacing: 1.5px;
        margin: 10px 0;
        cursor: pointer;
    }
    .ing_input_area{
        margin-bottom: 10px;
    }
    .ing_input_area > input{
        margin-right: 15px;
       
    }
    .r_ing_ex_area{
        margin-left: 130px;
        text-align: center;
    }
    .textline.cf{
        position: absolute;
    }
    
    .r_in_ex{
        color: red;
        margin: 20px 0;
    }

    /* 순서 영역 */
    .seq_content_area{
        justify-content: flex-start;
    }
    .seq_content_area h2{
        margin-right: 50px;
    }
    .seq_content_area textarea{
        width: 70%;
        height: 140px;
    }
    
    .btn_add_area{
        margin-left: 130px;
    }
    .r_seq .btn_add {
       
        width: calc(100%-130px);
    }
    .seq_pho_area{
        justify-content: flex-start;
        height: 150px;
        padding: 20px 0
    }
    .seq_phos{
        width: 85%;
    }
    .seq_pho{
        border: 1px solid #000;
        width: 150px;
        height: 150px;
    }
    /* 기타 영역 */
    .r_ect{
       justify-content: flex-start; 
    }
    .r_ect textarea{
        width: 80%;
    }
/* 버튼 영역 */
.btn_r_insert{
    text-align: center;
}
.btn_r_insert input{
    font-family: "NotoSansR";
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
}
.btn_in{
    width: 150px;
    background-color: #036c44;
    color: #fff;
    
}
.btn_can{
    width: 75px;
    background-color: #ccc;
}