/* main_content  영역 */
.btn_more {
    position: absolute;
    right: 50px;
    font-size: 1.3em;
} 

.btn_more a {
    color: #036c44;
    font-family: "NotoSansM";
}

.btn_more a:hover {
    color: #8bb0a3;

}

section {
    margin: 40px 0;
}

/* 레시피 바로가기 영역 */
.direct_recipe {
    height: 200px;
    position: relative;
}

.direct_menu_area {
    position: relative;
    padding: 0 50px;
}

.direct_menu {
    height: 150px;
    position: relative;
}

.direct_menu img {
    width: 120px;
    height: 120px;
    padding: 10px;
}

.direct_menu p {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    font-family: "malssami";

    font-size: 1.6em;
}

.direct_menu p:hover {
    color: #036c44;
}

/* 레시피 검색 영역 */

.r_search_area {
    height: 30px;
}

.r_search_area form {
    height: 100%;
}

.select_searchbox {
    width: 78%;
    height: 100%;

}

.select_searchbox select {
    width: 20%;
    border: 1px solid #036c44;
    border-radius: 4px;
    font-family: "NotoSansM";
    color: #222629;

}

.r_input_btn {
    margin: 0 auto;
    justify-content: flex-start;
}

.select_searchbox input {
    width: 400px;
    outline: 0;
    border: 1px solid #036c44;
    border-radius: 4px 0 0 4px;
}

.r_btn_search {
    border-radius: 0 4px 4px 0;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #036c44;

}

.r_btn_search i {
    font-size: 1.3em;
    color: #fffdf7;

}
.btn_category_area button {
    border-radius: 4px;
    border: none;
    background-color: #036c44;
    color: #fffdf7;
    font-family: "NotoSansTh";
    margin-left: 7px;
}

/* 레시피 리스트 영역 */
.r_content_area {
    height: auto;

}

.r_content {
    width: 230px;
    height: auto;

}

.r_thumb {
    width: 100%;
    height: 250px;
    margin: 20px 0;
    border: 1px solid #000;
}

.r_title_area {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    line-height: 1.7em;
}

.r_title_area i {
    cursor: pointer;
}

.r_title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.cnt_like_area {
    text-align: right;
}

.cnt_like {
    grid-column: 3/ 4;
    grid-row: 1 / 2;
}


.r_id {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.pagnation_area {
    height: auto;
    line-height: 40px;
    margin: 40px 0;
}

.pagnation {
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;

}

.pagnation li {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}