.free_board_area {
    width: 1100px;
    margin: 100px auto;
}

.title_free_board {
    text-align: center;
    font-family: "NotoSansBo";
    top: -30px;
    position: relative;
}

.title_sub {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #8a8a8a;
}

.free_borad_search {
    display: flex;
    justify-content: space-between;
    background-color: #eef3f1;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.free_option {
    display: flex;
}

.free_main_search {
    display: flex;
    width: 190px;
}


.free_option {
    border: 1px solid #036c44;
    border-radius: 5px;
}

.free_main_search input {
    border: 1px solid #036c44;
    border-radius: 5px;
}

.free_main_btn {
    border: 1px solid #036c44;
    border-radius: 5px;
    padding: 0 10px 0;
    background-color: #fff;
}

.free_main_btn button {
    background-color: #fff;
}



.board_list {
    width: 100%;
    border-top: 2px solid #036c44;
}

.board_list>div {
    border-bottom: 1px solid #ccc;
    font-size: 0;
}

.board_list>div.top {
    border-bottom: 1px solid #999;
}

.board_list>div:last-child {
    border-bottom: 2px solid #ccc;
}

.board_list>div>div {
    display: inline-block;
    padding: 12px 0;
    text-align: center;
    font-size: 1.0rem;
}

.board_list>div.top>div {
    font-weight: 800;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}


.pagnation_area {
    height: auto;
    line-height: 40px;
    margin: 40px 0;
}

.pagnation {
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;

}

.pagnation li {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}