

/* 전체적인 레이아웃 설계 */
header,
#main_content {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    box-sizing: border-box;
    margin-top: 10px;
}


.top_menu {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 80px;
    text-align: center;
}

.recipe_mall {
    display: flex;
    font-size: large;
}

.recipe_mall h1 {
    width: 270px;
}

.tool {
    display: flex;
}

.save_or_publish {
    display: flex;
    width: auto;
}

.tool i {
    font-size: 1.5em;
    padding: 20px;
    margin-top: 10px;
}

/*icon 사이에 분리되는걸 넣고 싶음*/



.save_or_publish {
    margin-top: 20px;
    margin-left: 10px;
}

.save_or_publish button {
    margin-left: 20px;
}

.btn1 {
    width: 100px;
    padding: 10px 35px;
    background: #fff;
    border: 1px solid #036c44;
    color: #036c44;

}


.btn2 {
    width: 100px;
    padding: 10px 35px;
    background: #036c44;
    color: #fff;

}

.under_bar {
    text-decoration: underline;
    border: 0.5px solid #ccc
}

.middle_space {
    width: 600px;
    height: 70px;
    margin: 0 auto;
    text-align: center;


}

.guide {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 10px;
    padding-bottom: 10px;

}
.guide h1{
    cursor: pointer;
}
.sub_guide {
    font-size: small;
    color: #a8a8a8;
    font-weight: none;
}

.fa-chevron-down {
    color: #707070;
    margin-left: 150px;
}

.Detail {
    font-size: 15px;
    text-align: start;


}

.Detail li {
    padding: 10px;
}

.fa-circle {
    font-size: 7px;
    margin-right: 10px;

}

.writing_space {
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 300px;
}

.title_go {
    width: 100%;
    padding: 20px;
    font-size: large;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f9f9f9;
}

.detail_go {
    width: 550px;
    height: auto;
    padding: 20px;
    font-size: large;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}