@charset "utf-8";
#mypage{
    font-size: large;
}
.mypage_content>h3 {
    padding: 35px 0 8px 0;
    width: 100%;
    text-align: center;
    /* border-bottom: 1px solid #ccc; */
    margin-bottom: 20px;
}
.mypage_content{
    position: relative;
    left: -10%;
}
button{
    cursor: pointer;
}
#join_form{
    /* width: 37%; */
    width: 100%;
}
.data_input {
    width: 37%;
    margin-left: 300px;
}
#join_form label{
    display: block;
    font-weight: bold;
    margin: 15px 0;
}
#join_form input{
    border: 1px solid #ccc;
}
#join_form input[type="text"],
#join_form input[type="password"]{
    height: 20px;
    padding: 3px 5px;
}
#join_form input[type="button"]{
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
#join_form>p:nth-child(3){  /*비밀번호*/
    margin: 0;
    height: 20px;
}
.pwd_placeholder{
    margin-bottom: 15px;
    font-size: 0.7125em;
}
.pw_e {
	margin: 5px 0;
}
.pw_ne {
	margin: 5px 0;
	color: red;
}
.user_addr{
    margin-top: 5px;
    width: 250px;
}
.recommend_p{
    font-size: 0.7125em;
}
.recommend_p>span{
    color: red;
}
#agree_check{
    width: 100%;
    height: 480px;
    margin-top: 24px;
    font-size: 0.9em;
}
#agree_check>p{
    padding-left: 90px;
    font-weight: bold;
    font-size: 1.3em;
}
#agree_check>label{
    font-size: 1.1em;
}
/* #agree_check>input{
    margin-left: 180px;
} */
.agree{
    /* margin-left: 210px; */
    margin-top: 15px;
}
#agree_check label{
    display: inline-block;
    font-weight: bold;
    padding-left: 120px;
}
.treaty_area{
    border: 1px solid #ccc;
    overflow-y: scroll;
    margin: 0 auto;
    width: 67%;
    height: 100px;
}
.btn_join{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-left: 340px;
    display: block;
    font-weight: bold;
    font-size: 1em;
    background-color: #2ebaf1;
    color: #fff;
}
.btn_cancel{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-left: 340px;
    margin-top: 5px;
    display: block;
    font-weight: bold;
    font-size: 1em;
}
