/* main_content  영역 */
.btn_more {
    position: absolute;
    right: 50px;
    font-size: 1.3em;
}

.btn_more a {
    color: #036c44;
    font-family: "NotoSansM";
}

.btn_more a:hover {
    color: #8bb0a3;

}

section {
    margin: 40px 0;
}

/* 레시피 바로가기 영역 */
.direct_recipe {
    height: 200px;
    position: relative;
}

.direct_menu_area {
    position: relative;
    padding: 0 50px;
}

.direct_menu {
    height: 150px;
    position: relative;
}

.direct_menu img {
    width: 120px;
    height: 120px;
    padding: 10px;
}

.direct_menu p {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    font-family: "malssami";

    font-size: 1.6em;
}

.direct_menu p:hover {
    color: #036c44;
}

/* 레시피 검색 영역 */

.b_align_area {
    text-align: right;
}


.btn_align_area button {
    border-radius: 4px;
    border: none;
    padding: 5px 15px;
    background-color: #036c44;
    color: #fffdf7;
    margin-left: 8px;
}

/* 레시피 리스트 영역 */
.r_content_area {
    height: auto;

}


.r_content {
    width: 200px;
    height: auto;
    position: relative;
}
.medal_area{
    width: 30%;
    height: 20%;
    position: absolute;
    left: -18px;
    top: 0px;
}
.medal_area img{
  width: 100%;
}
.r_thumb {
    width: 100%;
    height: 250px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.r_thumb1{
    background-image: url(../image/thu1.jpg);
}

.r_thumb2{
    background-image: url(../image/thu2.jpg);
}

.r_title_area {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    line-height: 1.7em;
}

.r_title_area i {
    cursor: pointer;
}

.r_title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.cnt_like_area {
    text-align: right;
}

.cnt_like {
    grid-column: 3/ 4;
    grid-row: 1 / 2;
}


.r_id {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.pagnation_area {
    height: auto;
    line-height: 40px;
    margin: 40px 0;
}

.pagnation {
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;

}

.pagnation li {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*레시피 셰프 음식*/
.food_tag {
    font-size: 1.5em;
    font-family: 'NotoSansM';
    display: inline-block;
    width: 200px;
    margin-right: 30px;
}

.food_tag>span>a {
    width: 200px;
    margin-right: 30px;
}