@charset "utf-8";

/* 초기화 */
html,
body,
div,
header,
section,
footer,
figure,
figcaption,
fieldset,
legend,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
p,
img {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* 기본스타일 */
@font-face {
    font-family: "NotoSansL";
    src: url("../font/NotoSansKR-Light.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansR";
    src: url("../font/NotoSansKR-Regular.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansM";
    src: url("../font/NotoSansKR-Medium.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansBl";
    src: url("../font/NotoSansKR-Black.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansBo";
    src: url("../font/NotoSansKR-Bold.otf")format("truetype");
}

@font-face {
    font-family: "NotoSansTh";
    src: url("../font/NotoSansKR-Thin.otf")format("truetype");
}

@font-face {
    font-family: "malssami";
    src: url("../font/malssami815.ttf")format("truetype");
}

a:link {
    color: #222629;
    text-decoration: none;
}


a:visited {
    color: #222629;
    text-decoration: none;
}

.a_community:hover,
.a_community:focus {
    color: #036c44;
    text-decoration: none;
}

.a_shopping:hover,
.a_shopping:focus {
    color: rgba(204, 14, 14, 0.79);
    text-decoration: none;
}

.a_btn_write:hover,
.a_btn_write:focus {
    color: #222629;
}



body {
    font-family: "NotoSansL";
    background-color: #f9f9f9;
    color: #222629;
    font-size: 0.75em;
    line-height: 1.2;
}

fieldset {
    border: 0;
    height: 100%;
}

/* 건너뛰기 링크 */
#skipNav {
    position: absolute;
    left: -9999px;
}

#skipNav:focus {
    left: 0;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    z-index: 10;
}

/* 전체적인 레이아웃 설계 */
header,
#main_content {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    box-sizing: border-box;
    margin-top: 10px;
}

section {
    margin: 80px 0;
}

h1 {
    height: 80px;
    line-height: 80px;
    font-family: "NotoSansR";
}

input {
    outline: 0;
}

textarea {
    font-family: "NotoSansL";
    resize: none;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    font-family: "NotoSansR";
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
}

/* rsb= rows pace between */
.flex_area_rsb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.top_menu {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 80px;
    text-align: center;
}

.recipe_mall {
    display: flex;
    font-size: large;
}

.recipe_mall h1 {
    width: 270px;
}

.tool {
    display: flex;
}

.save_or_publish {
    display: flex;
    width: auto;
}

.tool i {
    font-size: 1.5em;
    padding: 20px;
    margin-top: 10px;
}

/*icon 사이에 분리되는걸 넣고 싶음*/



.save_or_publish {
    margin-top: 20px;
    margin-left: 10px;
}

.save_or_publish button {
    margin-left: 20px;
}

.btn1 {
    width: 100px;
    padding: 10px 35px;
    background: #fff;
    border: 1px solid #036c44;
    color: #036c44;

}


.btn2 {
    width: 100px;
    padding: 10px 35px;
    background: #036c44;
    color: #fff;

}

.under_bar {
    text-decoration: underline;
    border: 0.5px solid #ccc
}

.middle_space {
    width: 600px;
    height: 70px;
    margin: 0 auto;
    text-align: center;


}

.guide {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 10px;
    padding-bottom: 10px;

}
.guide h1{
    cursor: pointer;
}
.sub_guide {
    font-size: small;
    color: #a8a8a8;
    font-weight: none;
}

.fa-chevron-down {
    color: #707070;
    margin-left: 150px;
}

.Detail {
    font-size: 15px;
    text-align: start;


}

.Detail li {
    padding: 10px;
}

.fa-circle {
    font-size: 7px;
    margin-right: 10px;

}

.writing_space {
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 300px;
}

.title_go {
    width: 100%;
    padding: 20px;
    font-size: large;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f9f9f9;
}

.detail_go {
    width: 550px;
    height: auto;
    padding: 20px;
    font-size: large;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}