@charset "utf-8";

/* 초기화 */
html,
body,
div,
header,
section,
footer,
figure,
figcaption,
fieldset,
legend,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
p,
img {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style: none;
}
#box {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;
}
#login_box{
    display: flex;
    flex-direction: row;
}
#sidebar {
    box-sizing: border-box;
    width: 14%;
    background-color: #c3d2cb;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
#content {
    box-sizing: border-box;
    width: 86%;
    background-color: #f7f7f7;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 10px;
}
.side {
    border-bottom: 1px solid #66766e;
    font-size: 1.6em;
}
.move {
    padding: 8px 30px;
    border-bottom: 1px solid #66766e;
}
.manage {
    padding: 15px;
}
/* .title {
	
} */
.menu {
    padding: 10px 0 0 20px;
}
.main_menu>li {
    margin-bottom: 5px;
}
.sub {
    padding-left: 18px;
    margin: 5px 0;
}
.sub>li {
    margin: 5px 0;
}
.cont {
    box-sizing: border-box;
    width: 100%;
    padding-top: 16px;
    background-color: #fff;
    border-bottom: 1px solid #666;
    text-align: right;
}
.home {
    font-size: 1em;
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 5px 20px;
    border-radius: 4px;
}
.log {
    margin: 5px 10px 6px 0;
    padding: 5px 10px;
    width: 100px;
    height: 30px;
    background-color: #208aad;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.form_btn {
    padding-top: 15px;
    text-align: center;
}
.form_btn input {
    width: 80px;
    height: 30px;
}